.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.new-column1,
.new-column2 {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-blue-text {
    color: #0056b3; 
}

.form-label {
    font-weight: bold;
    color: #0056b3;
}


.new-column1 h2,
.new-column2 h2 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
