
h1 {
    color: #007bff;
    font-size: 32px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input[type="text"] {
    border: 1px solid #007bff; 
    border-radius: .25rem;
    padding: .375rem .75rem;
    
}

.input-group button {
    border-radius: .25rem;
}


label {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.output-container {
    display: flex;
    align-items: center;
}

.output-container output {
    border-radius: .25rem;
    background-color: #f8f9fa; 
    padding: .375rem .75rem;
    height: 38px; 
    line-height: 38px; 
    width: 10rem;
    border: 1px solid #007bff;
    margin-left: 10rem;
    margin-top: -2.25rem;
}


.container {
    margin-top: 50px;
}

.row {
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
