<app-navigation></app-navigation>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="felirat1">Hallgatók</h2>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Név</th>
                            <th>Tankör</th>
                            <th>Művelet</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(hallgato of hallgatok; track $index) {
                        <tr>
                            <td class="col-md-1">{{ hallgato.id }}</td>
                            <td class="col-md-2">{{ hallgato.nev }}</td>
                            <td class="col-md-1">{{ hallgato.tankor }}</td>
                            <td class="col-md-2">
                                <button class="btn btn-outline-danger ms-2" (click)="deleteHallgato(hallgato)">
                                    Hallgató törlése
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="felirat2">
                <h3>Hallgató Tárgyai</h3>
                <div class="row">
                    <p>Megadott Hallgató tárgyainak listázása</p>
                    <div class="col-12" style="margin-right: 15px;">
                        <input #filterInput [value]="filterText()" (input)="filterText.set(filterInput.value)"
                            type="text" class="form-control" placeholder="Hallgató ID-ja">
                    </div>
                </div>
            </div>
            <div class="table2" style="margin-left: 7em;">
                <div class="row">
                    <div style="width: auto">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tárgy ID</th>
                                    <th>Érdemjegy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(erdemjegyek of list$ | async | search: filterText(); track $index) {
                                <tr>
                                    <td>{{ erdemjegyek.tantargyId }}</td>
                                    <td>{{ erdemjegyek.erdemjegy }}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
