<app-navigation></app-navigation>
<h1 class="title">Üdvözli a NEPTUN rendszer!</h1>
<p class="description"> Ez egy NEPTUN rendszer szimulálására 
    készített Webes alkalmazás Angular keretrendszerrel, amely a következő funkciókkal bír:</p>

    <ul class="text">
        <li>Oktatók/hallgatók menedzselése, listázása</li>
        <li>Oktatók és hallgatók hozzáadása a rendszerhez. Alapinformációk (ezek nem feltétlenül tábla oszlopok):</li>
        <ul>
          <li>Oktatók: Név, tanszék, oktatott tárgyak.</li>
          <li>Hallgatók: név, tankör, hallgatott tárgyak, érdemjegyek.</li>
        </ul>
        <li>A program listázza egy adott oktató: oktatott tárgyak listáját.</li>
        <li>A program listázza egy adott hallgató: felvett tantárgyak listája, érdemjegyekkel.</li>
        <li>Új kurzus felvétele. Az oktatókhoz tantárgyak és a tantárgyakhoz kurzusok rendelhetőek. Természetesen törölhetőek is.</li>
        <li>Tárgyak hallgatók összerendelése. Egy adott hallgató hozzárendelése egy kurzushoz. A rendszer figyelje, hogy nem vette-e fel a hallgató az adott tárgyat korábban.</li>
        <li>Érdemjegy menedzselés. Egy adott hallgató érdemjegyet kap egy adott tárgy, adott kurzusán.</li>
        <li>Statisztikák kezelése</li>
        <ul>
          <li>Egy adott tankör tankörátlagának kiszámítása.</li>
          <li>Egy adott hallgató átlagának kiszámítása.</li>
        </ul>
      </ul>


  

  
