<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand"> NEPTUN </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link" routerLink="/home"> Home </a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link" routerLink="/oktato"> Oktatók </a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link" routerLink="/hallgato"> Hallgatók </a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link" routerLink="/tantargyak"> Tantárgyak </a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link" routerLink="/kurzus"> Kurzusok </a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link" routerLink="/erdemjegyek"> Érdemjegyek </a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link" routerLink="/newuser"> Beszúrás </a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link" routerLink="/statisztika"> Statisztika </a>
        </li>
        
        <li class="nav-item-logout">
          <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link" routerLink="/"> Kijelentkezés </a>
        </li>
        
        
      </ul>
    </div>
    
  </nav>

  <router-outlet></router-outlet>