
.felirat1 {
    color: #0056b3;
    font-size: 24px;
    font-weight: bold;
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.container {
    background-color: #f8f9fa;
    padding: 20px;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #0056b3;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:hover {
    background-color: #f1f1f1;
}
